<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ModifyIconServlet</servlet-name>
        <servlet-class>blackjack.web.ModifyIconServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyUserServlet</servlet-name>
        <servlet-class>blackjack.web.ModifyUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameBetServlet</servlet-name>
        <servlet-class>blackjack.web.GameBetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamePlayerListServlet</servlet-name>
        <servlet-class>blackjack.web.GamePlayerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>blackjack.web.GameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>blackjack.web.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>blackjack.web.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectPlayerServlet</servlet-name>
        <servlet-class>blackjack.web.SelectPlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameDistributeServlet</servlet-name>
        <servlet-class>blackjack.web.GameDistributeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyIconServlet</servlet-name>
        <url-pattern>/ModifyIconServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyUserServlet</servlet-name>
        <url-pattern>/ModifyUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameBetServlet</servlet-name>
        <url-pattern>/GameBetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamePlayerListServlet</servlet-name>
        <url-pattern>/GamePlayerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/GameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectPlayerServlet</servlet-name>
        <url-pattern>/SelectPlayerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameDistributeServlet</servlet-name>
        <url-pattern>/GameDistributeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
