<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>ModifyIconServlet</servlet-name>
        <servlet-class>blackjack.web.ModifyIconServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyUserServlet</servlet-name>
        <servlet-class>blackjack.web.ModifyUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameBetServlet</servlet-name>
        <servlet-class>blackjack.web.GameBetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamePlayerListServlet</servlet-name>
        <servlet-class>blackjack.web.GamePlayerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>blackjack.web.GameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>blackjack.web.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>blackjack.web.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectPlayersServlet</servlet-name>
        <servlet-class>blackjack.web.SelectPlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameDistributeServlet</servlet-name>
        <servlet-class>blackjack.web.GameDistributeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>blackjack.web.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditIconServlet</servlet-name>
        <servlet-class>blackjack.web.EditIconServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>blackjack.web.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPasswordServlet</servlet-name>
        <servlet-class>blackjack.web.EditPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyIconServlet</servlet-name>
        <url-pattern>/ModifyIconServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyUserServlet</servlet-name>
        <url-pattern>/ModifyUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameBetServlet</servlet-name>
        <url-pattern>/GameBetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamePlayerListServlet</servlet-name>
        <url-pattern>/GamePlayerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/GameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectPlayersServlet</servlet-name>
        <url-pattern>/SelectPlayersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameDistributeServlet</servlet-name>
        <url-pattern>/GameDistributeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditIconServlet</servlet-name>
        <url-pattern>/EditIconServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPasswordServlet</servlet-name>
        <url-pattern>/EditPasswordServlet</url-pattern>
    </servlet-mapping>
    
        <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>PayaraBJ</realm-name>
        <form-login-config>
            <form-login-page>/LoginScreen.html</form-login-page>
            <form-error-page>/LogOutServlet</form-error-page>
        </form-login-config>
    </login-config>
    
    <security-role>
        <description/>
        <role-name>headusers</role-name>
    </security-role>
    
        <security-constraint>
        <display-name>headusers</display-name>
        <web-resource-collection>
            <web-resource-name>headusers</web-resource-name>
            <description/>
            <url-pattern>/AccountManagement.jsp</url-pattern>
            <url-pattern>/EditPassword.jsp</url-pattern>
            <url-pattern>/EditUser.jsp</url-pattern>
            
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>headusers</role-name>
        </auth-constraint>
    </security-constraint>
    
        <error-page>
        <error-code>403</error-code>
        <location>/LogOutServlet</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/LogOutServlet</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
