/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-okt-2016, 8:13:39
    Author     : Wouter
*/
:root {
    --c1: #fbbe4f;
    --c2: #76d0c0;
    --c3: #1ab28a;
    --c4: #746bab;
    --c5: #4a62d8;
    --fullwidth: 100%;
    --radius: 5px 0px 0px 5px 5px;
}
body
{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    font-family: Helvetica;
}
#container, #largeContainer, #largeGameContainer, #gameContainer{
    position: relative;
    width: 400px;
    margin: 0 auto;
    margin-top: 0px;
    border: 1px solid black;
    height: 400px;
    -webkit-border-radius: 0px 0px 10px 10px;

    background-color: var(--c2);
}
#largeContainer{
    padding: 0px;
    width: 1024px;
    height: 500px;
    overflow-y: scroll;
}
#gameContainer{
 margin-top: 20px;
    width: 800px;
    height: 504px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px;
    background-image: url(images/blackjackTable.png);
}
#largeGameContainer{
    padding: 0px;
    width: 1024px;
    height: 550px;
}
#userBlockContainer{
    width:900px;
    min-height: 400px;   
    position: relative;
    margin: 0 auto;
    
}
.userBlockWrapper{
    float: left;
    position: relative;
    height: 140px;
    width: 170px;
}
.userBlock, .userBlockSelected{
    width: 150px;
    height: 120px;
    left: 0px;
    top: 0px;
    float: left;
    margin: 10px;
    position: relative;
    background-color: white;
    -webkit-transition: all 0.2s ease-in;
    border: 1px solid black;
        -webkit-border-radius: 0px 0px 10px 10px;
        -webkit-box-shadow: 2px 2px 5px black;

}
.userBlockSelected{
    background-color: var(--c4);
   -webkit-transition: all 0.2s ease-in;
     -webkit-box-shadow: 1px 1px 3px black;
      left: 1px;
 top: 1px;
}

.userBlock:hover
{

    background-color: var(--c1);
    -webkit-transition: all 0.2s ease-out;
    

}
.userBlockSelected:hover{
    background-color: var(--c4);
}


#next
{
    position: relative;
    left: 600px;
}
#previous
{
    position: relative;
    left: 400px;
}
.regularButton
{
    padding: 5px;
    border: 1px solid black;
    color: black;
    font-size: 15px;
    text-align: center;
    background-color: var(--c2);
}
.editIcon{





    position: absolute;
    float: left;
    right: 10px;
    bottom: 10px;
    -webkit-transition: all 2s;

}
.userBlockWrapper .editIcon{
    opacity: 0.1;
    -webkit-transition: all 0.2s ease-out;
}
.userBlockWrapper:hover .editIcon{
    opacity: 1;
    -webkit-transition: all 0.2s ease-in;


}
.editIconImage{
    width: 30px;
    height: 30px;

}
.editIconImage:hover
{
    display: block;


}
.regularButton:hover
{
    background-color: var(--c1);

}
.userName{
    position: absolute;
    width: calc(100% - 5px);
    border: 1px solid black;
    height: auto;
    background-color: var(--c3);
    color: white;
    

    left: 4px;
    margin-left: -5px;
    padding-left: 5px;
    padding-bottom: 5px;
    top: -1px;
    padding-top: 5px;
}
.userChips, .userChipsRight{
    position: absolute;
    top: 50px;
    left: 5px;
    width: 100%;
}
.userChipsRight{
    
    top: 5px; 
    
    text-align: right;
 
    width: 68%;
    left: 30%;
  
}
.userBet{
    position: absolute;
    top: 40px;
    left: 5px;
    width: 100%;
}
.userIcon{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 75px;
    height: 75px;

}


#playerListWithButtons{
    position: relative;

    height: 100px;
    width: 1024px;
    margin: 0 auto;



}
#playerList
{
    position: absolute;
    top: -36px;
    left: 10px;
    padding: 5px;
    background-color: var(--c2);
    border: 1px solid black;
    -webkit-border-radius: 0px 0px 5px 5px;
}
a
{
    text-decoration: none;
    color: black;
}
#infoButton{
    position: absolute;
    left: 20px;
    top: 20px;
}
#playButton{
    width: 120px;

    position: absolute;
    left: 140px;
    bottom: 20px;
}
#loginButton{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
}
#userMenu{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    list-style: none;
}
#userMenu:hover #menuList
{
    display: block;
}
#userMenu:hover .menuImage{
    display: none;
}



#startTitle{
    position: absolute;
    width: 250px;
    height: 100px;
    top:100px;
    left: 75px;
    font-size: 35px;
    text-align: center;
    padding: 0;


}
#startImage{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 125px;
    background-image: url("images/aces.png");
    background-size: 150px 100px;
    background-repeat: no-repeat;
}
#menuList{
    list-style: none;
    display: none;
}


.menuImage{
    width:40px;
    height: 40px;
    position: relative;
    float: left;
    display: block;

    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.playerBlock
{
    position: absolute;
    width: 140px;
    height: 200px;
    color: white;
 
    

}
.playerIcon{
    position: absolute;
    right: 5px;
    top: -21px;
    width: 50px;
    height: 50px;
}
#p1
{

    bottom: 120px;
    left: 0px;
}
#p2
{

    bottom: 50px;
    left: 220px;
}
#p3{
    bottom:50px;
    right:220px;
}
#p4{
    bottom: 120px;
    right: 0px;

}

#dealer
{
    position: absolute;
    width: 200px;
    height: 300px;
    color: white;
    top: 50px;
    left:375px;
}
#dealerIcon
{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0px;
    left:-125px;
}
#betBlock
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 150px;
    height: 100px;
    background-color: var(--c4);
    -webkit-border-radius: 0px 0px 10px 10px;
    
}

#betInput{

    width: 50px;


}
#betConfirm{
    position: absolute;
    right: 10px;
}
.userConfirm{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.visble
{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}


.playerName {
    display: block;
    position: absolute;
    background-color: var(--c2);
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 4px;
    top:-25px;
    left: -1px;
  
}
.playerBet{
    display: block;
    position: absolute;
    background-color: var(--c2);
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
    padding: 2px 4px;
    top:29px;
    left: -1px;
}

.cardsBlock{
    position: absolute;
    width: 100%;
    height: auto;
    
    top: 60px;
}
.card{
    position: relative;
    width: 24px;
    overflow: visible;
    float: left;
    margin-bottom: 10px;
       
}
.cardImage{
        position: relative;
    float: left;
    width: 50px;
    -webkit-box-shadow: 2px 2px 3px black;
 
}
.amountAndState{
    position: absolute;
    top: 75px;
    left: 20px;
    z-index: 100;
    opacity: 0.0;
    width: auto;
    height: auto;
    padding: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: var(--c2);
}
.playerBlock:hover .amountAndState{
    opacity: 0.8;
}



